.button-close-mobile + .hidden-mobile-menu{
    @media screen and (max-width: 767px){
        opacity: 0;
    }
}

.section-buttons{
    padding-top: 94px;
    padding-bottom: 94px;

   }
   
   
   .section-buttons__content{
       padding: 0px;
       margin-bottom: 54px;
       margin-top: 0px;
       display: flex;
       justify-content: center;

       @media screen and (max-width: 767px){
        flex-wrap: wrap;
        justify-content: flex-start;
    }
   }
   
   .section-buttons__content .section-buttons__list{
       margin-right: 8px;
   
       
   }
   
   .section-buttons__content .section-buttons__list:nth-child(3n){

    @media screen and (max-width: 767px){
        margin-right: 0px;
    }
   }
   
   .section-buttons__content .section-buttons__list:nth-child(5n){
       margin-right: 0px;
   }

   .section-buttons__content .section-buttons__list:nth-child(4n){

    @media screen and (max-width: 767px){
        margin-top: 12px;
    }
   }

   .section-buttons__content .section-buttons__list:nth-child(5n){

    @media screen and (max-width: 767px){
        margin-top: 12px;
    }
   }


.section-buttons__button{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #212121;
    font-family: inherit;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    background-color: #2196F3;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
}

